<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Phone Shop</a>
    <form class="form-inline my-2 my-lg-0" style="padding-left: 20px;">
      <input class="form-control mr-lg-2" style="width: 600px;" type="search" placeholder="Search for items">
  </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="padding-left: 150px;" id="navbarNav">
      <ul class="navbar-nav mr auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Cart</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
